@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #f1f5ff;
    color: #10214b;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qoute-container {
    width: auto;
    max-width: 900px;
    border-radius: 10px;
    background: #f1f5ff;
    box-shadow: 20px 20px 60px #d0d0d0,
        -20px -20px 60px #ffffff;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.qoute-text {
    font-size: 2.7rem;
}

.long-qoute {
    font-size: 2rem;
}

.qoute-text i {
    font-size: 4rem;
}


.qoute-author {
    font-weight: 400;
    font-size: 2rem;
    font-style: italic;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container .twitter-btn {
    color: #fff;
    border: none;
    background: #1DA1F2;
    padding: 10px 12px;
    border-radius: 8px;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    cursor: pointer;
}

.button-container #new-qoute {
    background-color: #1DA1F2;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    font-weight: 500;
}

/* loader */
.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loader:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #10214b;
    border-color: #10214b transparent #10214b transparent;
    animation: loader 1.2s infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}


/* media query */

@media screen and (max-width:1000px) {
    .qouter-container {
        margin: auto 10px;
    }

    .qoute-text {
        font-size: 2.5rem;
    }
}